/* major view tranistion */
[class*=view] {
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.view-enter {
  transform: translateX(100%);
  z-index: 2;
}

.view-enter.view-enter-active {
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(.39, .575, .565, 1);
}

.view-exit { 
  transform: translateX(0);
  z-index: 0;
}

.view-exit.view-exit-active {
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(.39, .575, .565, 1);
}

/* section border color */
section {
  transition: border-color 250ms cubic-bezier(.39, .575, .565, 1);
}

/* notice enter animation */
.notice {
  animation: noticeEnter 100ms cubic-bezier(.39, .575, .565, 1) 1;
}

@keyframes noticeEnter {
  0% {
    transform: scale(0, 0);
  }
  
  100% {
    transform: scale(1, 1);
  }
}

/* plant animations */
.plant-entering {
  transform: translateX(100%);
}

.plant-entered {
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(.39, .575, .565, 1);
}

.plant-exiting { 
  transform: translateX(0);
}

.plant-exited {
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(.39, .575, .565, 1);
}