/* application layout */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
  position: relative;
  width: 100vw;

  > div {
    left: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: 100%;
  }
}