/* application layout */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 1 100%;
  position: relative;
  overflow: hidden;
  width: 100vw;
}

/* plant component */
.plant:last-of-type {
  border-bottom: none;
}